* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif, system-ui, -apple-system;
  background-color: #cbd0d7; 
  color: #040507;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.card.sobre-mim {
    background-color: #f2f4f6; 
}

.card {
  background-color: #0c0808;
  border: 1px solid #05080c;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}

.habilidades-grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.habilidade-item {
  background: #F8FAFC;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #E2E8F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  flex: 1;
  min-width: 130px;
}

/* =========================================
   4. TABELA E FORMULÁRIOS
   ========================================= */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #CBD5E1;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #F1F5F9;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #CBD5E1;
  border-radius: 6px;
  font-size: 1rem;
}

.botao {
  background-color: #2563EB;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.botao:hover {
  background-color: #1D4ED8;
}